*{
    margin:0;
    padding: 0;
    text-decoration: none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    box-sizing:border-box;
}
body {
    background-color: black;
    height:100vh;
}
nav{
    background-color: #332e2e;
    color: white;
    height: 50px;
    width:100%;
    display:flex;
}
#lang{
    width:150px;
    display:flex;
}
#main{
    width:1200px;
    background-color: #fbf5f5;
    display:flex;
    height:calc(100% - 50px);
    margin:0 auto;
}
#aside{
    width:300px;
    background-color: #cac0e5;
    display:flex;
    flex-direction:column;
}
#content{
    display:flex;
    flex-wrap:wrap;
    width:900px;
    align-items:center;
}
.titles{
    font-size: 1.5em;
    width:100%;
    display:flex;
    align-items: center;
    padding-left:20px;
    font-weight:900;
}
.containers{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.languages{
    height:30px;
    margin:0px 5px;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:0px 10px;
    background-color:#4f64ae;
    color:#fbf5f5;
    border-radius:30px;
}
.aptitudes{
    height:30px;
    margin:0px 5px;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:0px 10px;
    background-color:#4f64ae;
    color:#fbf5f5;
    border-radius:30px;
}
.skills{
    height:30px;
    margin:0px 5px;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:0px 10px;
    background-color:#4f64ae;
    color:#fbf5f5;
    border-radius:30px;
}
.companies{
    display:flex;
    align-items: center;
    flex-wrap:wrap;
    padding:5px 20px;
}
.cname{
    display:flex;
    width:70%;
    font-weight:700;
}
.cloc{
    display:flex;
    width:30%;
}
.cpos{
    display:flex;
    width:70%
}
.cdate{
    display:flex;
    width:30%;
}
.cjob{
    display:flex;
    width:100%;
}
.universities{
    display:flex;
    align-items: center;
    flex-wrap:wrap;
    padding:5px 20px;
}
.uname{
    display:flex;
    width:70%;
    font-weight:700;
}
.uloc{
    display:flex;
    width:30%;
}
.utitle{
    display:flex;
    width:70%;
}
.ugpa{
    display:flex;
    width:15%;
}
.udate{
    display:flex;
    width:15%;
}
#con_language{
    height:18%;
    align-items: center;
    justify-content: center;
}
#con_aptitude{
    height:27%;
    align-items: center;
    justify-content: center;
}
#con_skills{
    height:45%;
    align-items: center;
    justify-content: center;
}

#con_profile{
    height:200px;
    justify-content: center;
    align-items: center;
}
#con_profile > img{
    border-radius: 50%;
    border: 3px solid #4f64ae;
}

#con_personal{
    height:60px;
    width:70%;
}
#con_contact{
    height:60px;
    width:30%;
    flex-direction:column;
}
#con_personal{
    align-items: center;
    justify-content: center;
}
#res_name{
    font-size:3em;
}
#res_summary{
    padding: 5px 20px;
}
